<div class='sq-loading'>
<div class="spinner">
  <div class="rect5"></div>
  <div class="rect4"></div>
  <div class="rect3"></div>
  <div class="rect2"></div>
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
</div>
<div class="sq-sankey">
    <div class='sq-content'>
    	<div class='sq-header'></div>
	    <div class='sq-diagram'></div>
    </div>
    <div id="sq-threshold-selector" style="width:180px; position: relative; top: -25px; left:80%;">
		<table>
			<tr>
				<td colspan="3"><div style="text-align:center;">Details</div></td>
			</tr>
	    	<tr style="vertical-align:middle;">
		        <td style="vertical-align:middle;padding-top:5px;"><span style="font-size:large;"><i class="fa fa-minus-circle"></i></span></td>
		        <td style="vertical-align:middle;"><input style="vertical-align:text-bottom;" type="range" id="range" class='threshold-selector' min="0" max="100" step="1" value='{{thresholdValue}}' size="4"></input></td>
		        <td style="vertical-align:middle;padding-top:5px;"><span style="font-size:large;"><i class="fa fa-plus-circle"></i></span></td>
		    </tr>
	    </table>
	</div>
</div>
