<table>
<tr>
    <td width = "{{width}}px;">
	<div class="interaction">
        <div class="mini-stat">
            <label id="sq-origin"></label>
            <div class="lead">&nbsp;</div></div>
        </div>
    </div>
   </td>
{{#each headerCols}}
    <td width = "{{width}}px;">
    <div class="interaction">
        <div class="mini-stat">
            <label>{{label}}</label>
            <div class="lead">{{value}}&nbsp;</div>
        </div>
    </div>
   </td>
{{/each}}
</tr>
</table>